<!-- <footer class="close">
    <section>
        <p>&copy;Peter Woodhead 2021</p>
    </section>
    <section>
        <nav>
            <a href="#">Github</a>
        </nav>
    </section>
</footer> -->
</body>

</html>