<%- include('../partials/open') %>
<div class="content about">
    <h1>About QuoteIt!</h1>
    <div>
        <div>
            <div class="section">
                <h2>What is QuoteIt!?</h2>
                <p><strong>QuoteIt!</strong> is a super simple webapp made by Pete Woodhead that lets anyone record and store all of the quotes from the people around them!</p>
                <p>To write new quotes, simply click on the "New Quote" Button up the top right and fill out the boxes! It's as simple as that!</p>
            </div>
            <div class="section">
                <h2>Features</h2>
                <p>QuoteIt! has a few little tricks up its' sleeve... such as <strong>organising your quotes with dates, tags,</strong> and <strong>authors</strong>!</p>
                <p>And the best part: you can search for a quote by its' tags or authors, so you'll never lose a quote ever again :)</p>
            </div>
            <div class="section">
                <h2>The Goal</h2>
                <p>This project was designed with one goal in mind: to give anyone an clean and simple place to write down quotes from the people in their lives.</p>
                <p>Quotes are one of the best ways that people remember significant (and insigificant) event in their lives... be it happy, sad, funny, all quotes are welcome here!</p>
            </div>
            <div class="section">
                <h2>The Development Process</h2>
                <p>This project was built using NodeJS with the ExpressJS Framework, EJS Templating, HTML and CSS, as well as front-end JavaScript for extra livelihood. On the server side, MongoDB and the Mongoose NodeJS Library were chosen as they are modern, light databases which work well with JavaScript's object notation.</p>
                <p>In creating this project, I have begun to tinker with a few key NodeJS concepts, and I am finally learning proper MEN stack Website Development!</p>
            </div>
        </div>
        <!-- <section>
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatussayings.com%2Fwp-content%2Fuploads%2F2016%2F09%2FMemories_Quotes5.jpg&f=1&nofb=1" alt="Memories are special moments that tell our story.">
        </section> -->
        <!-- <section>
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffiles.planetofsuccess.com%2Fblog%2Fwp-content%2Fuploads%2F2019%2F03%2Fbeautiful-memories-quotes2.jpg&f=1&nofb=1" alt="Memories warm you up from the inside.">
        </section> -->
        <!-- <section>
            
        </section>        -->
    </div>
</div>
<%- include('../partials/close') %>